body {
    font-family: sans-serif;
    padding: 0 80px;
    background-color: dimgray;
  }

  a {
      color: white;
      text-decoration: none;
      padding-left: 40px;
      display: flex;
      justify-content: flex-start;
      padding: 10px 0px;
  }

  img {
      border: 2px solid black;
  }
  
  .post {
    margin: 0 0 30px;
    border-top: 3px dashed silver;
    border-bottom: 3px dashed silver;
    padding: 0 0 5px;
  }

  .post:last-child {
    border-bottom: none;
  }

  .post h3 {
    margin: 0;
  }
  
